<div>
  <app-generic-tabs>
    <ng-container *ngFor="let location of currentConditionsByZip()">
      <app-generic-tab [tabTitle]="location.data.name + ' (' + location.zip + ')'" [tabActive]="false" (tabClose)="locationService.removeLocation(location.zip)">
        <div class="well flex" (click)="showForecast(location.zip)">
          <div>
            <h3>Current conditions: {{location.data.weather[0].main}}</h3>
            <h3>Temperatures today:</h3>
            <p>
              Current {{location.data.main.temp | number:'.0-0'}}
              - Max {{location.data.main.temp_max | number:'.0-0'}}
              - Min {{location.data.main.temp_min | number:'.0-0'}}
            </p>
            <p>
              <a [routerLink]="['/forecast', location.zip]" >Show 5-day forecast for {{location.data.name}}</a>
            </p>
          </div>
          <div>
            <img [src]="weatherService.getWeatherIcon(location.data.weather[0].id)">
          </div>
        </div>
      </app-generic-tab>
    </ng-container>
  </app-generic-tabs>
</div>
